html, body{
	background-color: #8BC34A;
	font-family: 'Saira', sans-serif;
	height: 100%;
}

.coins-form{
	opacity: 0;
	transition: opacity;
}
.container{
	width: 80%;
	margin: 0 auto;
}

.fadeIn{
	opacity: 1;
	transition: .5s;
}

.fadeOut{
	opacity: 0;
	transition: .3s;
	z-index: -99999;
}

.load{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #8BC34A;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 1.5em;
}

.container .header{
	text-align: center;
	color: #fff;
	box-sizing: border-box;
	padding: 1em;
	margin-bottom: 2%;
}

.container .header .main-title{
	font-size: 2em;
}

.container .header img{
	width: 9em;
}

.coins{
	width: 100%;
	background-color: red;
	display: flex;
	flex-direction: column;
}

.coins li{
	list-style: none;
	width: 100%;
	box-sizing: border-box;
	padding: 1em;
	color: #fff;
	font-size: 1.5em;
}

.coins li span{
	padding-left: .5em;
}
.coins .fa{
	padding-right: .25em;
}

.dolar{
	background-color: #3F51B5;
}

.euro{
	background-color: #F44336;
}

.peso{
	background-color: #FFC107;
}

.libra{
	background-color: #9C27B0;
}

.form-conversao{
	display: flex;
	flex-direction: column;
	margin-top: 1em;
}

.converter-real{
	font-size: 2em;
	color: #fff;
	text-align: center;
	margin-top: 1em;
}

.botao, .valor-real{
	flex-grow: 1;
	box-sizing: border-box;
	padding: 1em;
	margin-bottom: .25em;
}

.botao{
	background-color: #009688;
	border: none;
	color: #fff;
}

.results{
	color: #fff;
	text-align: center;
}

@media(min-width: 758px){
	.coins{
		flex-direction: row;
	}

	.coins li{
		width: 25%;
		height: 10em;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.form-conversao{
		flex-direction: row;
	}
	.valor-real{
		flex-grow: 3;
	}
}